@charset "utf-8";

.video-list-wrapper > .container {
  padding: 0;
}

@media screen and (min-width: 481px) {
  .video-list-wrapper > .container {
    padding: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .video-list-wrapper > .container {
    padding: 1.5rem 0;
  }
}

